::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-right: 0px solid black;
}

::-webkit-scrollbar-track {
    background: transparent;
}

html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
    font-size: var(--step-0);
    color: var(--color-text);
    background-color: var(--color-bg);
}

main {
    display: flex;
    flex-direction: column;
    margin-block-start: 8rem;
    min-height: 100dvh;
    width: 100%;
}


@media (width<=900px) {
    main {
        margin-block-start: 6rem;
    }
}

.flow>*+* {
    padding-top: var(--flow-space, 1em);
}

.lazy__load {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(10px);
    transition: opacity var(--ease-l) ease, filter var(--ease-l) ease, transform var(--ease-l) ease;
}

.lazy__load-active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

:where(a, p, label) {
    text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    color: var(--color-text);
    text-wrap: pretty;
}