<!-- ---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
--- -->
<div class="accordion">
  <div class="accordion-item flow">
    <input id="accordion-trigger-1" class="accordion-trigger-input" type="checkbox" />
    <label class="accordion-trigger" for="accordion-trigger-1">OFFERT OCH PROJEKTUPPLÄGG</label>
    <div class="accordion-content flow">
      <p>
        Efter det första mötet återkommer vi med en offert för vårt arbete. Vanligtvis offererar vi arbetet i delmoment,
        såsom uppmätning och uppritning, skissförslag, bygglovs- och bygghandlingar – med viss reservation för att
        skisstiden kan variera till följd av gemensamma diskussioner och uppkomna idéer. För antaget uppdrag gäller
        branschens standardavtal, ABK 09.
      </p>
      <p>
        När offerten bekräftats bokar vi in tid för platsbesök där vi gemensamt tittar på fastighetens förutsättningar
        och diskuterar era önskemål. Därefter sätter vi igång med skissarbetet.
      </p>
    </div>
  </div>
  <div class="accordion-item flow">
    <input id="accordion-trigger-2" class="accordion-trigger-input" type="checkbox" />
    <label class="accordion-trigger" for="accordion-trigger-2">SKISS</label>
    <div class="accordion-content">
      <p>
        Under skissfasen tar vi fram ett eller flera skissalternativ som i dialog med er bearbetas och revideras tills
        förslaget är precis så bra som ni tänkt er. Vi tar fram planer, sektions- och fasadritningar och illustrationer
        för att kommunicera förslagen. Skissandet är experimentverkstaden, där idéer kan testas och modifieras för att
        utveckla projektet och förbättra slutresultatet.
      </p>
    </div>
  </div>
  <div class="accordion-item flow">
    <input id="accordion-trigger-3" class="accordion-trigger-input" type="checkbox" />
    <label class="accordion-trigger" for="accordion-trigger-3">ANSÖKAN TILL KOMMUN</label>
    <div class="accordion-content">
      <p>
        Utifrån det slutgiltiga förslaget producerar vi bygglovshandlingar enligt kommunens krav. (Samma mängd
        handlingar och likvärdigt förfarande gäller vid anmälan för attefallshus som för bygglovsansökan.) Vi hjälper
        gärna till med att fylla i ansökan och sköta kontakten med kommunen under ärendet.
      </p>
      <p>
        Ofta består bygglovshandläggningen av två delar; en första del baserad på arkitektritningarna och en andra del
        med underlag från konstruktör och kontrollansvarig i det fall kommunen finner det nödvändigt. När kommunen ger
        startbesked får byggandet starta.
      </p>
    </div>
  </div>
  <div class="accordion-item flow">
    <input id="accordion-trigger-4" class="accordion-trigger-input" type="checkbox" />
    <label class="accordion-trigger" for="accordion-trigger-4">FÖRFRÅGNINGSUNDERLAG</label>
    <div class="accordion-content">
      <p>
        För att kunna få in relevanta priser från entreprenörer bör projektet beskrivas mer detaljerat än i
        bygglovshandlingen. Vid offertförfrågan till olika byggfirmor rekommenderar vi att man bifogar ett mer utvecklat
        förfrågningsunderlag för att få en så korrekt prisbild som möjligt. Det kan exempelvis vara måttsatta handlingar
        i större skala, arbetsbeskrivning, konstruktionsritningar etc.
      </p>
    </div>
  </div>
</div>

<style>
  .accordion {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xs);
    margin-block: var(--spacer-l);
  }
  .accordion-item {
    border-top: 1px solid;
    overflow: hidden;
  }

  .accordion-trigger-input {
    display: none;
  }

  .accordion-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  .accordion-trigger::after {
    font-family: var(--ff-body);
    content: "+";
    transition: transform var(--ease-m) ease-out;
  }

  .accordion-trigger-input:checked ~ .accordion-trigger::after {
    transform: rotate(135deg);
    color: red;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--ease-m) ease-out;
  }

  .accordion-trigger-input:checked ~ .accordion-content {
    max-height: 1000px;
  }
</style>
