<div class="logo">
  <div class="project__row">
    <p class="text">Lorem</p>
    <div class="line"></div>
  </div>
  <div class="project__row">
    <div class="line"></div>
    <p class="text">Ipsum</p>
  </div>
</div>

<style>
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    padding-block-end: 6rem;
    padding-block-start: 8rem;
    font-family: var(--ff-logo);
    font-size: var(--step-4);
    text-transform: capitalize;
    text-align: center;
    z-index: -1;
  }

  .project__row {
    display: flex;
    justify-content: space-between;
    width: 10ch;
    gap: 0.5rem;
    align-items: center;
  }

  .text {
    flex-shrink: 0;
  }

  .line {
    width: 100%;
    height: 4px;
    background-color: #000;
  }

  /* .logo.hidden {
  opacity: 0;
  filter: blur(1px);
} */
</style>
<!-- <script is:inline>
const logo = document.querySelector('.logo');
const margin = 30;

window.addEventListener('scroll', () => {
  if (window.scrollY > 0 + margin) {
    logo.classList.add('hidden');
  } else if (window.scrollY <= margin) {
    logo.classList.remove('hidden');
  }
});
</script> -->