@font-face {
  font-family: 'Necto Mono';
  src: url('/fonts/NectoMono-Regular.woff2') format('woff2'),
    url('/fonts/NectoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}