<div class="container">
  <slot />
</div>

<style>
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: var(--container-width);
    margin-inline: auto;
  }
</style>
